 /* #container{
    height:300px;
    width:80%;
    background-color: azure;
    margin:10px auto;
    border : 2px solid black;
    display :flex;
    flex-direction:row;
    justify-content:flex-start; 
    justify-content:space-evenly; 
} 
h1{
    text-align:center;
}
#container div{
    height:70px;
    width:60px;
    color:white;
    text-align:center;
    font-size:0.5em;
}  */


 /* Align-self */
/* #container{
    height:300px;
    width:80%;
    background-color: azure;
    margin:10px auto;
    border : 2px solid black;
    display :flex;
    flex-direction:row;
    justify-content:flex-start; 
   flex-wrap:wrap-reverse;
} 
#org{
    align-self:flex-end;
}
h2{
    text-align:center;
}
#container div{
    height:100px;
    width:200px;
    color:white;
    text-align:center;
    font-size:0.5em;
} */

/* flex-sizing-flex basis/flex grow/flex shrink*/
#container{
    height:300px;
    width:80%;
  
    background-color: azure;
    margin:10px auto;
    border : 2px solid black;
    display :flex;
    flex-direction:column;
    justify-content:flex-start; 
   flex-wrap:wrap-reverse;
} 
#org{
    align-self:flex-start;
    flex-shrink :1;
}
#violet{
    flex-basis:400px;
}
    #blue{
    flex-basis:400px;
}
h2{
    text-align:center;
}
#container div{
    height:100px;
    width:200px;
    color:white;
    text-align:center;
    font-size:0.5em;
} 