span{
background-color: blueviolet;
border:2px solid black;
height:150px;
width:200px;
padding:50px;
margin: 20px;
display:inline;
}
div{
background-color: blueviolet;
border:2px solid black;
height:150px;
width:200px;
padding:50px;
margin: 20px;
display:inline;
}
