h1{
    background-color:yellow;
    border:2px solid black;
}
@media (width:400px){
    h1{
        background-color: rgb(233, 20, 30);
        color: white;
    }
    div{
        height:100px;
        width:100px;
        background-color: white;
    }
}



@media(min-width : 700px){
    h1{
background-color: rgb(9, 198, 94);
    }
}

@media(max-width:200px){
    h1{
        background-color:blue;
    }
}


@media(min-width:200px) and (max-width:300px){
    h1{
        background-color: magenta;
    }
}
