.card{
    width:400px;
    border:2px solid black;
    border-radius:25px;
    padding:10px;
    margin:100px;
}
img{
    width:100%;
    border-radius:25px;
}

h2{
    color:#56f3;
}
span{
    color:#9d6f24;
}
h4{
    text-align:right;
    color:#33e78e;
}
#pets{
    display:flex;
    justify-content:space-evenly;
}
@media(max-width:375px){
    #pets{
        flex-wrap:wrap;
    }
}